<div class="jumbotron vertical-center">
    <div class="container text-center">
        <form method="POST" action="/score/show">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">@</span>
                    <input type="text" class="form-control" name="name" placeholder="Group name" aria-describedby="sizing-addon1">
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-primary">Go</button>
        </form>
        <p>Need to create a new team? <a href="/group/new">Create a new team</a></p>
    </div>
</div>