<form class="form-group" method="POST" action="/group/create">
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <input type="text" class="form-control" name="name" placeholder="Group name" aria-describedby="sizing-addon1">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
