<h1>Welcome!</h1>
<p>Join a group, or create one to get started!</p>
<h2>Join group</h2>
<form action="score/show">
<input type="text" name="name"
<input type="submit">
</form>
<h2>Create new group</h2>
<form action="group/create">
<input type="text" name="name">
<input type="submit">
</form>

